<h1>내부변수</h1>
{% set node = 'node.js' %} {{ node }}
<br />
{% set fruits = ['사과','오렌지','바나나','복숭아','배'] %} {% for fruit in fruits %} {{ loop.index
}}.{{ fruit }}<br />
{% endfor %}

<h2>외부 변수</h2>
{{ memNm }}<br />
{% for num in nums %} {{ num }}<br />
{% endfor %}

<br /><br />
{{htmlData | safe}}

<h2>조건문</h2>
{% if fruit == 'apple' or fruit == 'banana' %} 사과이거나 바나나<br />
{% elif fruit == 'orange' %} 오랜지<br />
{% else %} 사과도 오렌지도 아닙니다. <br />
{% endif %}

<br /><br />
{{'사과' if fruit == 'apple' else '사과가 아니다.'}}

<h1>include</h1>
{% include "./_inc.html" %}
